/* HeaderImage.module.css */
.headerContainer {
    top: 70px;
    position: relative;
    width: 80vw;
    max-width: 1200px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.headerContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.226);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.headerContainer:hover .overlay {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .headerContainer {
        width: 90vw;
    }
}

@media (max-width: 480px) {
    .headerContainer {
        width: 95vw;
    }
}